<template>
  <b-navbar type="dark" variant="dark" toggleable>
      <b-nav is-nav-bar>
        <router-link
          v-for="(item, index) in routes"
          :key="index"
          :to="{path: item.path}"
          class="nav-link"
          :exact="''" activeClass="active">
          {{ item.title }}
        </router-link>
      </b-nav>
  </b-navbar>
</template>

<script>
  import NinjaLogo from './NinjaLogo.vue'

  export default {
    components: {
      NinjaLogo
    },
    data () {
      return {
        routes: [{
          path: '/',
          title: 'Главная'
        }, {
          path: '/features',
          title: 'Что делаю'
        }, {
          path: '/contacts',
          title: 'Контакты'
        }]
      }
    }
  }
</script>
