<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="6.259 -0.383 94.102 125">
    <path d="M96.104,16.825c-3.566-0.649-5.927,0.821-7.341,2.295c-0.428-0.852-1-1.617-1.688-2.263
	c1.588-2.994,4.341-6.134,8.957-6.447C103.2,9.926,97.854-5.017,88.5,2.879c-3.889,3.283-5.236,8.076-5.64,11.905
	c-0.42-0.066-0.845-0.112-1.28-0.112c-1.302,0-2.525,0.315-3.614,0.865c-7.271-9.666-18.835-15.92-31.863-15.92
	c-9.88,0-18.913,3.605-25.876,9.559c1.251-0.399,2.513-0.734,3.765-1.001c1.831-0.402,3.647-0.65,5.401-0.823
	c3.512-0.327,6.781-0.24,9.553-0.03c5.55,0.466,9.099,1.476,9.099,1.476s-3.658-0.56-9.124-0.337
	c-2.723,0.13-5.893,0.444-9.179,1.17c-1.637,0.372-3.311,0.816-4.956,1.399c-1.646,0.574-3.271,1.259-4.81,2.073
	c-1.553,0.792-3.003,1.739-4.349,2.744c-0.686,0.49-1.288,1.068-1.923,1.581c-0.583,0.575-1.167,1.129-1.706,1.703
	c-0.184,0.202-0.338,0.41-0.514,0.614c-3.318,5.816-5.225,12.542-5.225,19.718v16.195l0.097-0.006c0,0,0.004,0.424,0.015,1.217
	c0.003,0.195,0.006,0.419,0.009,0.66c0.012,0.207,0.044,0.366,0.062,0.577c0.062,0.419,0.042,0.821,0.191,1.474
	c0.123,0.613,0.217,1.299,0.448,2.049c0.101,0.376,0.205,0.768,0.313,1.175c0.141,0.403,0.287,0.822,0.438,1.256
	c0.596,1.738,1.467,3.678,2.598,5.729c1.093,2.073,2.555,4.192,4.198,6.371c1.658,2.175,3.636,4.302,5.807,6.383
	c2.181,2.077,4.65,3.993,7.275,5.791c0.673,0.453,1.361,0.892,2.062,1.314c0.032,0.009,0.062,0.017,0.094,0.023
	c0.997,0.266,2.043,0.553,3.159,0.743c2.208,0.484,4.625,0.84,7.176,1.09c2.56,0.197,5.258,0.302,8.016,0.089
	c0.688-0.051,1.383-0.104,2.081-0.156c0.691-0.102,1.388-0.203,2.086-0.309c1.406-0.156,2.781-0.562,4.181-0.848
	c2.757-0.776,5.487-1.734,8.052-3.031c2.553-1.309,4.97-2.842,7.168-4.576c2.172-1.764,4.136-3.692,5.864-5.693
	c1.72-2.014,3.164-4.13,4.408-6.187c1.237-2.068,2.179-4.135,2.971-6.048c0.342-0.908,0.65-1.779,0.921-2.62v-5.354V39.462
	c0-3.238-0.396-6.382-1.125-9.397c2.597-1.149,4.472-3.631,4.754-6.58c1.634-0.406,4.631-0.856,7.24,0.366
	C100.628,25.637,102.651,18.016,96.104,16.825z M76.244,53.154c-4.474,8.103-14.675,11.049-22.779,6.571
	c-4.871-2.688-11.488-1.953-15.509,0.162c-2.49,1.309-5.161,1.931-7.792,1.931c-6.026,0-11.849-3.26-14.85-8.963
	c-4.31-8.193-1.163-18.33,7.031-22.642c14.632-7.699,33.208-7.635,47.327,0.16C77.779,34.85,80.72,45.048,76.244,53.154z">
    </path>
    <path d="M22.29,38.405l6.983,3.003c-3.17,0.604-5.48,2.457-5.48,4.649c0,2.684,3.457,4.859,7.721,4.859
	c4.263,0,7.721-2.176,7.721-4.859c0-0.127-0.015-0.253-0.03-0.378l4.27,1.836C43.476,47.517,36.825,37.677,22.29,38.405z"></path>
    <path d="M49.904,47.517l3.079-1.325c0.114,2.621,3.518,4.726,7.708,4.726c4.265,0,7.721-2.176,7.721-4.859
	c0-2.011-1.941-3.737-4.71-4.475l7.387-3.177C56.554,37.677,49.904,47.517,49.904,47.517z"></path>
    <path d="M75.285,87.613c-2.71,1.712-5.631,3.161-8.64,4.32c-3.023,1.147-6.161,1.892-9.253,2.414
	c-1.562,0.159-3.096,0.43-4.629,0.446c-0.762,0.028-1.518,0.062-2.271,0.093c-0.75-0.021-1.495-0.043-2.234-0.062
	c-2.95-0.086-5.764-0.491-8.39-0.975c-1.258-0.26-2.473-0.538-3.642-0.841c2.965,1.283,6.046,2.317,9.157,3.085
	c3.138,0.709,6.292,1.25,9.381,1.406c0.773,0.049,1.541,0.094,2.299,0.139c0.764-0.004,1.52-0.008,2.266-0.013
	c1.498,0.036,2.956-0.104,4.384-0.205c1.429-0.061,2.801-0.314,4.141-0.484c1.343-0.149,2.616-0.438,3.846-0.693
	c2.479-0.439,4.669-1.173,6.654-1.686c1.053-0.365,2.03-0.691,2.933-0.996c2.799-1.519,4.588-3.595,4.653-6.875h0.01v-0.182v-8.119
	c-1.012,1.162-2.09,2.309-3.252,3.41C80.46,83.899,77.974,85.869,75.285,87.613z"></path>
    <path d="M34.58,97.059c-3.296-1.188-6.542-2.586-9.569-4.295c-3.015-1.718-5.893-3.602-8.484-5.695
	c-2.58-2.099-4.969-4.283-7.03-6.572c-1.157-1.295-2.24-2.586-3.238-3.877v9.886v0.182h0.01c0.099,4.688,3.917,7.083,8.736,8.565
	c0,0,9.721,4.209,29.947,4.365c-0.085-0.012-0.171-0.021-0.257-0.032C41.307,99.034,37.902,98.194,34.58,97.059z"></path>
  </svg>
</template>

<script>
  export default {}
</script>
