<template>
  <b-container>
    <ninja-header></ninja-header>
    <ninja-content>
      <nuxt></nuxt>
    </ninja-content>
    <ninja-footer></ninja-footer>
  </b-container>
</template>

<script>
  import NinjaHeader from '~/components/NinjaHeader.vue'
  import NinjaContent from '~/components/NinjaContent.vue'
  import NinjaFooter from '~/components/NinjaFooter.vue'

  export default {
    components: {
      NinjaHeader,
      NinjaContent,
      NinjaFooter
    }
  }
</script>
</script>
