<template>
  <div>
    <h4>Rabotaet ninja</h4>
  </div>
</template>

<script>
  import NinjaHeader from '~/components/NinjaHeader.vue'
  import NinjaContent from '~/components/NinjaContent.vue'
  import NinjaFooter from '~/components/NinjaFooter.vue'

  export default {
    components: {
      NinjaHeader,
      NinjaContent,
      NinjaFooter
    }
  }
</script>
